/* ************************************ Start Global Style *******************************************  */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
 
:root{
  --page-overlay: 0 0 0 / 0.4;
  --page-background: #efefef;
  --on-sale-text: 227 44 43;
  --on-sale-badge-background: 227 44 43;
  --on-sale-badge-text: 255 255 255;
  --sold-out-badge-background: 239 239 239;
  --sold-out-badge-text: 0 0 0 / 0.65;
  --custom-badge-background: 239 239 239;
  --custom-badge-text: 0 0 0 / 0.65;
  --star-color: 28 28 28;
  --success-background: 212 227 203;
  --success-text: 48 122 7;
  --warning-background: 253 241 224;
  --warning-text: 237 138 0;
  --error-background: 243 204 204;
  --error-text: 203 43 43;
   --container-max-width: 100%;
    --container-xxs-max-width: 27.5rem;
    --container-xs-max-width: 42.5rem;
    --container-sm-max-width: 61.25rem;
    --container-md-max-width: 71.875rem;
    --container-lg-max-width: 78.75rem;
    --container-xl-max-width: 85rem;
    --container-gutter: 1.25rem;
    --section-vertical-spacing: 3rem;
    --section-vertical-spacing-tight: 2.5rem;
    --section-stack-gap: 2.5rem;
    --section-stack-gap-tight: 2.25rem;
    --form-gap: 1.25rem;
    --fieldset-gap: 1rem;
    --form-control-gap: 0.625rem;
    --checkbox-control-gap: 0.75rem;
    --input-padding-block: 0.65rem;
    --input-padding-inline: 0.8rem;
    --checkbox-size: 0.875rem;
    --sticky-area-height: calc(var(--announcement-bar-is-sticky, 0)* var(--announcement-bar-height, 0px) + var(--header-is-sticky, 0)* var(--header-is-visible, 1)* var(--header-height, 0px));
    --transform-logical-flip: 1;
    --transform-origin-start: left;
    --transform-origin-end: right;
    --heading-font-family: "Univers Next", sans-serif;
    --heading-font-weight: 400;
    --heading-font-style: normal;
    --heading-text-transform: uppercase;
    --heading-letter-spacing: 0.18em;
    --text-font-family: "Univers Next", sans-serif;
    --text-font-weight: 400;
    --text-font-style: normal;
    --text-letter-spacing: 0.0em;
    --button-font: var(--text-font-style) var(--text-font-weight) var(--text-sm) / 1.65 var(--text-font-family);
    --button-text-transform: uppercase;
    --button-letter-spacing: 0.18em;
    --text-heading-size-factor: 1;
    --text-h1: max(0.6875rem, clamp(1.375rem, 1.146341463414634rem + 0.975609756097561vw, 2rem)* var(--text-heading-size-factor));
    --text-h2: max(0.6875rem, clamp(1.25rem, 1.0670731707317074rem + 0.7804878048780488vw, 1.75rem)* var(--text-heading-size-factor));
    --text-h3: max(0.6875rem, clamp(1.125rem, 1.0335365853658536rem + 0.3902439024390244vw, 1.375rem)* var(--text-heading-size-factor));
    --text-h4: max(0.6875rem, clamp(1rem, 0.9542682926829268rem + 0.1951219512195122vw, 1.125rem)* var(--text-heading-size-factor));
    --text-h5: calc(0.875rem* var(--text-heading-size-factor));
    --text-h6: calc(0.75rem* var(--text-heading-size-factor));
    --text-xs: 0.75rem;
    --text-sm: 0.8125rem;
    --text-base: 0.875rem;
    --text-lg: 1.0rem;
    --text-xl: 1.125rem;
    --rounded-full: 9999px;
    --button-border-radius: 0.0rem;
    --input-border-radius: 0.0rem;
    --shadow-sm: 0 2px 8px rgb(0 0 0 / 0.05);
    --shadow: 0 5px 15px rgb(0 0 0 / 0.05);
    --shadow-md: 0 5px 30px rgb(0 0 0 / 0.05);
    --shadow-block: px px px rgb(var(--text-primary) / 0.0);
    --circle-button-background: 255 255 255;
    --circle-button-text-color: 28 28 28;
}

body {
  background: var(--page-background);
  font: var(--text-font-style) var(--text-font-weight) var(--text-base) / 1.65 var(--text-font-family);
  letter-spacing: var(--text-letter-spacing);
  color: white;
}

/* Text Style */
.heading, .h1, .h2, .h3, .h4, .h5, .h6, .prose :where(h1,h2,h3,h4,h5,h6) {
  font-family: var(--heading-font-family);
  font-weight: var(--heading-font-weight);
  font-style: var(--heading-font-style);
  letter-spacing: var(--heading-letter-spacing);
  text-transform: var(--heading-text-transform);
  overflow-wrap: anywhere;
}

.h6, :where(.prose h6) {
  font-size: var(--text-h6);
  line-height: 1.7;
}

a {
  display: inline-block;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

img {
  width: 100%;
}

/* Resable */
.container {
  max-width: 95%;
  margin: 0 auto;
}

.section{
  padding-top: 105px;
  padding-bottom: 80px;
}

.v-stack {
  grid-template-columns: minmax(0, 1fr);
  align-content: start;
  display: grid;
}

/* ************************************ End Global Style *******************************************  */

/* ************************************ Start Second section **************************************** */
.product-title{
  color: #1c1c1c 
}

.featured-collections-navigation button {
  font-size: 1.25rem; 
  margin: 0 0.5rem;
}

.featured-collections-navigation button[aria-current="true"] {
  font-weight: bold;
}

.scroll-area {
  overflow-x: auto;
  white-space: nowrap;
}

/* product */
.product-card {
  scroll-snap-align: start;
  grid-template-columns: minmax(0,1fr);
  align-content: start;
  gap: 1.25rem;
  display: grid;
  text-align: center;
  position: relative
}

.product-card img{
  object-fit: contain;
  object-position: center;
  margin-inline: auto;
  transition: opacity .1s ease-in-out;
}

.badge {
  font-family: var(--heading-font-family);
  font-weight: var(--heading-font-weight);
  font-style: var(--heading-font-style);
  letter-spacing: var(--heading-letter-spacing);
  text-transform: uppercase;
  align-items: center;
  width: max-content;
  padding: .0625rem .3125rem;
  font-size: .625rem;
  display: flex;
}

.badge-new{
  background: rgb(var(--custom-badge-background));
  color: rgb(var(--custom-badge-text));
}

.product-card__quick-add-button {
  background: rgb(var(--circle-button-background));
  color: rgb(var(--circle-button-text-color));
  z-index: 1;
  padding: .4rem .625rem;
  position: absolute;
  inset-block-end: .5rem;
  inset-inline-end: .5rem;
  border:none
}

@media screen and (pointer: fine) {
  .product-card__quick-add-button {
    opacity: 0;
    transition: opacity .2s ease-in-out, transform .2s ease-in-out;
    transform: translateY(5px);
  }

  .product-card__quick-add-button svg {
    transition: transform .2s ease-in-out;
  }
  
  .product-card__quick-add-button:hover svg {
    transform: rotate(90deg);
  }
  
  #card:hover .product-card__quick-add-button {
    transform: translateY(0);
  }
}

/* *************************************************************************************************** */



































/* start shopify and count down section */
.shopify-section {
  width: 100%;
  height: 65px;
  padding: 10px 0;
  background-color: rgb(28, 28, 28);
}

.shopify-section .sale {
  align-items: center;
}

.shopify-section .sale a {
  color: #fff;
  margin-left: 10px;
  position: relative;
  font-size: 14px;
}
.shopify-section .sale a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1.5px;
  background-color: white;
  transform-origin: left;
  transform: scaleX(1);
  transition: transform 0.3s ease;
}

.shopify-section .sale a:hover::after {
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
.countdown {
  display: flex;
  justify-content: right;
  font-size: 14px;
  align-items: center;
}
.time-unit {
  text-align: center;
}
.colon {
  font-size: 1.2rem;
  line-height: 1;
  padding: 0 6px;
}
/* end shopify and count down section */




/* ************************************ Start footer Style *******************************************  */
.footer {
  padding: 40px 0;
  color: rgb(28, 28, 28, 0.6);
  text-align: left;
}
.footer a {
  color: rgb(28, 28, 28, 0.6);
  text-decoration: none;
}
.footer h6 {
  font-weight: 400;
  padding-bottom: 6px;
  color: rgb(28, 28, 28, 1);
}

.footer ul li {
  padding-top: 8px;
}
.footer a:hover {
  color: rgb(28, 28, 28, 1);
}

.footer .newsletter input[type="email"] {
  width: 70%;
  padding: 10px;
  margin-bottom: 10px;
  border: 0.5px solid #ccc;
}
.footer .newsletter button {
  width: 40%;
  padding: 10px;
  background-color: rgb(28, 28, 28);
  color: #fff;
  border: 0.5px solid transparent;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: border-color 0.5s ease-in, color 0.5s ease-in-out;
}

.footer .newsletter button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transform-origin: left;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  z-index: -1;
}

.footer .newsletter button:hover {
  color: #000;
}

.footer .newsletter button:hover::before {
  transform: translateX(0);
}

.footer .social-icons i {
  font-size: 18px;
  padding-right: 40px;
  justify-content: space-between;
  color: rgb(28, 28, 28, 0.6);
  cursor: pointer;
}
.footer .social-icons i:hover {
  color: #000;
}
.footer .about a {
  color: rgb(28, 28, 28, 0.6);
  position: relative;
  font-size: 14px;
}
.footer .about a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1.5px;
  background-color: rgb(28, 28, 28, 0.6);
  transform-origin: left;
  transform: scaleX(1);
  transition: transform 0.3s ease;
}

.footer .about a:hover::after {
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.footer .payment-icons img {
  width: 40px;
  margin-right: 10px;
}
/* ************************************ End footer Style *******************************************  */
