/* ************************************ Start Global Style *******************************************  */
*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --page-overlay: 0 0 0 / 0.4;
  --page-background: #efefef;
  --on-sale-text: 227 44 43;
  --on-sale-badge-background: 227 44 43;
  --on-sale-badge-text: 255 255 255;
  --sold-out-badge-background: 239 239 239;
  --sold-out-badge-text: 0 0 0 / 0.65;
  --custom-badge-background: 239 239 239;
  --custom-badge-text: 0 0 0 / 0.65;
  --star-color: 28 28 28;
  --success-background: 212 227 203;
  --success-text: 48 122 7;
  --warning-background: 253 241 224;
  --warning-text: 237 138 0;
  --error-background: 243 204 204;
  --error-text: 203 43 43;
  --container-max-width: 100%;
  --container-xxs-max-width: 27.5rem;
  --container-xs-max-width: 42.5rem;
  --container-sm-max-width: 61.25rem;
  --container-md-max-width: 71.875rem;
  --container-lg-max-width: 78.75rem;
  --container-xl-max-width: 85rem;
  --container-gutter: 1.25rem;
  --section-vertical-spacing: 3rem;
  --section-vertical-spacing-tight: 2.5rem;
  --section-stack-gap: 2.5rem;
  --section-stack-gap-tight: 2.25rem;
  --form-gap: 1.25rem;
  --fieldset-gap: 1rem;
  --form-control-gap: 0.625rem;
  --checkbox-control-gap: 0.75rem;
  --input-padding-block: 0.65rem;
  --input-padding-inline: 0.8rem;
  --checkbox-size: 0.875rem;
  --sticky-area-height: calc(
    var(--announcement-bar-is-sticky, 0) * var(--announcement-bar-height, 0px) +
      var(--header-is-sticky, 0) * var(--header-is-visible, 1) *
      var(--header-height, 0px)
  );
  --transform-logical-flip: 1;
  --transform-origin-start: left;
  --transform-origin-end: right;
  --heading-font-family: "Univers Next", sans-serif;
  --heading-font-weight: 400;
  --heading-font-style: normal;
  --heading-text-transform: uppercase;
  --heading-letter-spacing: 0.18em;
  --text-font-family: "Univers Next", sans-serif;
  --text-font-weight: 400;
  --text-font-style: normal;
  --text-letter-spacing: 0em;
  --button-font: var(--text-font-style) var(--text-font-weight) var(--text-sm) /
    1.65 var(--text-font-family);
  --button-text-transform: uppercase;
  --button-letter-spacing: 0.18em;
  --text-heading-size-factor: 1;
  --text-h1: max(
    0.6875rem,
    clamp(1.375rem, 1.146341463414634rem + 0.975609756097561vw, 2rem) *
      var(--text-heading-size-factor)
  );
  --text-h2: max(
    0.6875rem,
    clamp(1.25rem, 1.0670731707317074rem + 0.7804878048780488vw, 1.75rem) *
      var(--text-heading-size-factor)
  );
  --text-h3: max(
    0.6875rem,
    clamp(1.125rem, 1.0335365853658536rem + 0.3902439024390244vw, 1.375rem) *
      var(--text-heading-size-factor)
  );
  --text-h4: max(
    0.6875rem,
    clamp(1rem, 0.9542682926829268rem + 0.1951219512195122vw, 1.125rem) *
      var(--text-heading-size-factor)
  );
  --text-h5: calc(0.875rem * var(--text-heading-size-factor));
  --text-h6: calc(0.75rem * var(--text-heading-size-factor));
  --text-xs: 0.75rem;
  --text-sm: 0.8125rem;
  --text-base: 0.875rem;
  --text-lg: 1rem;
  --text-xl: 1.125rem;
  --rounded-full: 9999px;
  --button-border-radius: 0rem;
  --input-border-radius: 0rem;
  --shadow-sm: 0 2px 8px rgb(0 0 0 / 0.05);
  --shadow: 0 5px 15px rgb(0 0 0 / 0.05);
  --shadow-md: 0 5px 30px rgb(0 0 0 / 0.05);
  --shadow-block: px px px rgb(var(--text-primary) / 0);
  --circle-button-background: 255 255 255;
  --circle-button-text-color: 28 28 28;
}

body {
  background: var(--page-background);
  font: var(--text-font-style) var(--text-font-weight) var(--text-base) / 1.65
    var(--text-font-family);
  letter-spacing: var(--text-letter-spacing);
  color: white;
}

/* Text Style */
.heading,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.prose :where(h1, h2, h3, h4, h5, h6) {
  font-family: var(--heading-font-family);
  font-weight: var(--heading-font-weight);
  font-style: var(--heading-font-style);
  letter-spacing: var(--heading-letter-spacing);
  text-transform: var(--heading-text-transform);
  overflow-wrap: anywhere;
}

.h6,
:where(.prose h6) {
  font-size: var(--text-h6);
  line-height: 1.7;
}

a {
  display: inline-block;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

img {
  width: 100%;
}

/* Resable */
.container {
  max-width: 95%;
  margin: 0 auto;
}

section {
  padding-top: 80px;
  padding-bottom: 60px;
}

.v-stack {
  grid-template-columns: minmax(0, 1fr);
  align-content: start;
  display: grid;
}

/* ************************************ End Global Style *******************************************  */

/**************************** start shopify and count down section **********************************8*/
.shopify-section {
  width: 100%;
  height: 65px;
  padding: 10px 0;
  background-color: rgb(28, 28, 28);
}

.shopify-section .sale {
  align-items: center;
}

.shopify-section .sale a {
  color: #fff;
  margin-left: 10px;
  position: relative;
  font-size: 14px;
}
.shopify-section .sale a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1.5px;
  background-color: white;
  transform-origin: left;
  transform: scaleX(1);
  transition: transform 0.3s ease;
}

.shopify-section .sale a:hover::after {
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
.countdown {
  display: flex;
  justify-content: right;
  font-size: 14px;
  align-items: center;
}
.time-unit {
  text-align: center;
}
.colon {
  font-size: 1.2rem;
  line-height: 1;
  padding: 0 6px;
}
/* end shopify and count down section */
/* **********************start nav******************** */
.navbar {
  background-color: transparent !important;
  position: fixed !important;
  width: 100%;
  height: 12vh;
  top: 10%;
  left: 0;
  z-index: 1000;
  transition: all 0.3s ease;
}

.navbar .navbar-nav .nav-link {
  color: white !important;
  transition: all 0.3s ease;
  position: relative;
}

.navbar.scrolled .navbar-nav .nav-link::after,
.navbar:hover .navbar-nav .nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  top: 110%;
  left: 50%;
  background-color: currentColor;
  transition: all 0.3s ease;
  transform: translateX(-50%);
}
.navbar.scrolled .nav-link:hover::after,
.navbar:hover .nav-link:hover::after {
  width: 100%;
}
.navbar-brand {
  position: relative;
  display: block;
  width: 260px; /* Match your logo width */
  height: 50px; /* Adjust based on your logo height */
}

/* Style for both logos */
.navbar-brand img {
  position: absolute;
  top: 30%;
  left: 0;
  right: 70%;
  width: 55%;
  height: auto;
  transition: opacity 0.3s ease;
}

/* Light logo (white) */
.navbar-brand .light-logo {
  opacity: 1;
}

/* Dark logo (black) */
.navbar-brand .dark-logo {
  opacity: 0;
}

/* When navbar is scrolled, switch logo visibility */
.navbar.scrolled .navbar-brand .light-logo,
.navbar:hover .navbar-brand .light-logo {
  opacity: 0;
}

.navbar.scrolled .navbar-brand .dark-logo,
.navbar:hover .navbar-brand .dark-logo {
  opacity: 1;
}

/* Hover effect for nav items */
.navbar .nav-item {
  position: relative;
}
.navbar:hover {
  background-color: white;
  color: rgb(28, 28, 28);
}

.navbar.scrolled .nav-link,
.navbar.scrolled .fas,
.navbar:hover .nav-link,
.navbar:hover .fas {
  color: black !important;
}
.navbar.scrolled {
  background-color: #fff !important;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  top: 0;
}

.navbar:hover {
  background-color: #fff !important;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.scrolled .nav-link,
.navbar.scrolled .fas {
  color: black !important;
}

/* Style navbar links */
.navbar .nav-link {
  color: white !important;
}

/* *********************end nav************************** */

/* ***************start header****************************** */
header {
  position: relative;
  margin-top: 0;
}

.header {
  position: relative;
  width: 100%;
  height: 100vh;
}

/* Make video/image fill the header */
.header video,
.header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.9;
}

/* Other existing styles remain the same */
.header-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}
.header p {
  font-size: clamp(25px, 4vw, 40px);
  margin-top: 10px;
}
.header-content h6 {
  font-size: 20px;
}
.header-content h1 {
  font-size: 76px;
}
.header-content button {
  display: block;
}

.header-content .button a {
  display: inline-block;
  /* width: 40%; */
  padding: 10px 36px;
  margin: 16px 8px;
  text-decoration: none;
}

.header-content .button .women-btn {
  background-color: transparent;
  color: rgb(28, 28, 28);
  border: 1px solid transparent;
  z-index: 1;
  position: relative;
  transition: color 0.3s ease-in-out, border-color 0.3s ease-in;
}

.header-content .button .men-btn {
  background-color: transparent;
  color: #fff;
  border: 1px solid transparent;
  z-index: 1;
  position: relative;
  transition: color 0.3s ease-in-out, border-color 0.3s ease-in;
}

.header-content .button .women-btn::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  color: rgb(28, 28, 28);
  background-color: #fff;
  transform-origin: left;
  transform: scaleX(1);
  z-index: -1;
  transition: transform 0.3s ease;
}

.header-content .button .men-btn::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: rgb(28, 28, 28);
  transform-origin: left;
  transform: scaleX(1);
  z-index: -1;
  transition: transform 0.3s ease;
}
.header-content .button .women-btn:hover {
  color: #fff;
  border-color: #fff;
}

.header-content .button .women-btn:hover::after {
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
}
.header-content .button .men-btn:hover {
  color: rgb(28, 28, 28);
  border-color: rgb(28, 28, 28);
}

.header-content .button .men-btn:hover::after {
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
}

.header .third-slide {
  width: 36%;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 10px;
  border: 2px solid #fff;
  text-align: center;
  align-items: center;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.header .third-slide .women-btn {
  width: 40%;
  font-size: 14px;
  padding: 10px 4px;
}

/*start slider section */

.header-slider {
  max-width: 100%;
  position: relative;
  margin: auto;
}
.header-slideshow {
  overflow: hidden;
  position: relative;
}

.mySlides {
  display: none;
  position: relative;
}

.header-slider img {
  width: 100%;
  display: block;
  transition: transform 1s ease;
}

.fade {
  animation-name: fade;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: var(--green);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.numbertext {
  color: var(--dark);
  font-size: 16px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.dots {
  text-align: center;
}
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 15px 2px;
  background-color: #d4d1d1;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.dots {
  position: absolute;
  bottom: 60px;
  right: 80px;
  text-align: right;
  z-index: 10;
}
.active,
.dot:hover {
  background-color: #fff;
}
.fade {
  animation-name: fade;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes fade {
  from {
    opacity: 1;
    transform: scale(1.2);
  }
  to {
    opacity: 0.9;
    transform: scale(1);
  }
}

/* end slider section */

/* ********************end header******************* */
/* ************************************ Start Second section **************************************** */

.product-title {
  color: #1c1c1c;
}

.featured-collections-navigation button {
  font-size: 2.3rem;
  margin: 0 0.5rem;
}
.featured-collections-navigation button:hover {
  text-decoration: none;
}

.featured-collections-navigation button[aria-current="true"] {
  font-weight: 100;
  position: relative;
  width: fit-content;
}
.featured-collections-navigation button[aria-current="true"]::after {
  content: "";
  display: block;
  width: 85%;
  height: 1px;
  background-color: currentColor;
  position: absolute;
  bottom: 18%;
  left: 8%;
  transform: translateY(2px);
}

.scroll-area {
  overflow-x: auto;
  white-space: nowrap;
}

/* product */
.product-card {
  scroll-snap-align: start;
  grid-template-columns: minmax(0, 1fr);
  align-content: start;
  gap: 1.25rem;
  display: grid;
  text-align: center;
  position: relative;
  cursor: pointer;
}

.product-card img {
  object-fit: contain;
  object-position: center;
  margin-inline: auto;
  transition: opacity 0.1s ease-in-out;
}

.badge {
  font-family: var(--heading-font-family);
  font-weight: var(--heading-font-weight);
  font-style: var(--heading-font-style);
  letter-spacing: var(--heading-letter-spacing);
  text-transform: uppercase;
  align-items: center;
  width: max-content;
  padding: 0.0625rem 0.3125rem;
  font-size: 0.625rem;
  display: flex;
}

.badge-new {
  background: rgb(var(--custom-badge-background));
  color: rgb(var(--custom-badge-text));
}

.product-card__quick-add-button {
  background: rgb(var(--circle-button-background));
  color: rgb(var(--circle-button-text-color));
  z-index: 1;
  padding: 0.4rem 0.625rem;
  position: absolute;
  inset-block-end: 0.5rem;
  inset-inline-end: 0.5rem;
  border: none;
}
.best-seller .button {
  display: block;
  text-align: center;
}

.best-seller .button a {
  display: inline-block;
  width: 16%;
  padding: 10px 36px;
  margin: 16px 8px;
  text-decoration: none;
}

.best-seller .button a {
  background-color: transparent;
  color: #fff;
  border: 1px solid transparent;
  z-index: 1;
  position: relative;
  transition: color 0.3s ease-in-out, border-color 0.3s ease-in;
}

.best-seller .button a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  color: rgb(28, 28, 28);
  background-color: rgb(28, 28, 28);
  transform-origin: left;
  transform: scaleX(1);
  z-index: -1;
  transition: transform 0.3s ease;
}

.best-seller .button a:hover {
  color: rgb(28, 28, 28);
  border-color: rgb(28, 28, 28);
}

.best-seller .button a:hover::after {
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
}
#carousel-container {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center items horizontally */
}

#product-container {
  display: flex; /* Use flexbox for product cards */
  flex-grow: 1; /* Allow the product container to take up available space */
  justify-content: center; /* Center product cards horizontally */
}

.slider-button {
  background-color: #fff;
  color: rgb(28, 28, 28);
  border: none;
  padding: 10px 10px;
  cursor: pointer;
  margin: 10px;
  font-size: 22px;
  width: 50px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}
.slider-button:hover {
  border: none;
}
@media screen and (pointer: fine) {
  .product-card__quick-add-button {
    opacity: 0;
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
    transform: translateY(5px);
  }

  .product-card__quick-add-button svg {
    transition: transform 0.2s ease-in-out;
  }

  .product-card__quick-add-button:hover svg {
    transform: rotate(90deg);
  }

  #card:hover .product-card__quick-add-button {
    transform: translateY(0);
  }
}

/* *************************************************************************************************** */
/* ****************new product section**************************/
.new-product {
  background-image: url("https://prestige-theme-allure.myshopify.com/cdn/shop/files/Image_with_text_overlay_-_Desktop_-_home.jpg?v=1680765088&width=2000");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 80vh;
  width: 100%;
  display: flex;
  align-items: flex-end;
  padding-bottom: 60px;
  text-align: left;
}

.new-product-content .button {
  display: block;
}

.new-product-content .button a {
  display: inline-block;
  width: 10%;
  padding: 10px 36px;
  margin-top: 16px;
  text-decoration: none;
}

.new-product-content .button a {
  background-color: transparent;
  color: rgb(28, 28, 28);
  border: 1px solid transparent;
  z-index: 1;
  position: relative;
  transition: color 0.3s ease-in-out, border-color 0.3s ease-in;
}

.new-product-content .button a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  color: rgb(28, 28, 28);
  background-color: #fff;
  transform-origin: left;
  transform: scaleX(1);
  z-index: -1;
  transition: transform 0.3s ease;
}

.new-product-content .button a:hover {
  color: #fff;
  border-color: #fff;
}

.new-product-content .button a:hover::after {
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
}

/* ********************************************************** */
/* footer */
footer {
  background-color: #fff;
}
.footer {
  padding: 40px 0;
  color: rgb(28, 28, 28, 0.6);
  text-align: left;
}
.footer a {
  color: rgb(28, 28, 28, 0.6);
  text-decoration: none;
}
.footer h6 {
  font-weight: 400;
  padding-bottom: 6px;
  color: rgb(28, 28, 28, 1);
}

.footer ul li {
  padding-top: 8px;
}
.footer a:hover {
  color: rgb(28, 28, 28, 1);
}

.footer .newsletter input[type="email"] {
  width: 70%;
  padding: 10px;
  margin-bottom: 10px;
  border: 0.5px solid #ccc;
}
.footer .newsletter button {
  width: 40%;
  padding: 10px;
  background-color: rgb(28, 28, 28);
  color: #fff;
  border: 0.5px solid transparent;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: border-color 0.5s ease-in, color 0.5s ease-in-out;
}

.footer .newsletter button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(28, 28, 28);
  transform-origin: left;
  transform: scaleX(1);
  transition: transform 0.3s ease;
  z-index: -1;
}

.footer .newsletter button:hover {
  color: rgb(28, 28, 28);
  border-color: rgb(28, 28, 28);
  background-color: #fff;
}

.footer .newsletter button:hover::before {
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
}

.footer .social-icons i {
  font-size: 18px;
  padding-right: 40px;
  justify-content: space-between;
  color: rgb(28, 28, 28, 0.6);
  cursor: pointer;
}
.footer .social-icons i:hover {
  color: #000;
}
.footer .about a {
  color: rgb(28, 28, 28, 0.6);
  position: relative;
  font-size: 14px;
}
.footer .about a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1.5px;
  background-color: rgb(28, 28, 28, 0.6);
  transform-origin: left;
  transform: scaleX(1);
  transition: transform 0.3s ease;
}

.footer .about a:hover::after {
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.footer .payment-icons img {
  width: 40px;
  margin-right: 10px;
}
/* end footer */

/* responsive design  */

@media (max-width: 992px) {
}

@media (max-width: 786px) {
  .countdown {
    display: flex;
    justify-content: right;
    font-size: 10px;
    align-items: center;
  }

  /* navbar */
  .navbar {
    height: 10vh;
  }
  .navbar-brand {
    position: relative;
    display: block;
    width: 200px; /* Match your logo width */
    height: 50px; /* Adjust based on your logo height */
  }
  .navbar-brand img {
    position: absolute;
    top: 0;
    left: 60%;
    right: 0;
    width: 55%;
    height: auto;
    transition: opacity 0.3s ease;
  }
  /* header */
  .header {
    position: relative;
    width: 100vw;
    height: 100vh;
  }
  .dots {
    position: absolute;
    bottom: 30px;
    right: 30px;
    text-align: right;
    z-index: 10;
  }
  .header video,
  .header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.9;
  }
  .header-content {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
  }

  .header-content h6 {
    font-size: 20px;
  }
  .header-content h1 {
    font-size: 40px;
  }
  .header .third-slide {
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 10px;
    border: 2px solid #fff;
    text-align: center;
    align-items: center;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .header .third-slide .women-btn {
    width: 60%;
    font-size: 14px;
    padding: 10px 4px;
  }
  /* new product secion */

  .new-product {
    background-image: url("https://prestige-theme-allure.myshopify.com/cdn/shop/files/Image_with_text_overlay_-_Desktop_-_home.jpg?v=1680765088&width=2000");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    padding-bottom: 60px;
  }

  .new-product-content .button a {
    display: inline-block;
    width: 35%;
    padding: 10px 36px;
    margin-top: 16px;
    text-decoration: none;
  }
  /* footer */
  .footer h6 {
    padding-top: 20px;
  }
}

@media (max-width: 527px) {
  .shopify-section .sale a {
    display: none;
  }

  .shopify-section .sale span {
    font-size: 12px;
  }
}
